





<div data-role="view" data-title="Toll Details" data-show="TollDetail.show" data-hide="TollDetail.hide" data-reload="true" data-layout="back-layout" data-transition="zoom">
    <div id="tollContent">
        <div class="title" data-bind="text: title"></div>
        <div class="bigImage">
            <img data-bind="attr: { src: image_url }" />
        </div>
        <div>
            <label for="favorite">Favorite?</label>
            <input id="favorite" type="checkbox" data-role="switch" data-checked=false data-change="TollDetail.setIsFavorite" />
        </div>
        <div>
            <p><a data-role="button" id="amazonLink" data-click="TollDetail.openLink">Order from Amazon</a></p>
        </div>
    </div>
</div>